.fadeIntoView {
    opacity: 0;
    transform: translateY(6vh);
    visibility: hidden;
    transition: opacity 2s ease-out, transform 2s ease-out;
    will-change: opacity, visibility;

    &.isVisible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }

    &.alreadyViewed {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}
